.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding: 0 40px; /* Added padding to the outer sides */
}

.section-image {
  flex: 1; /* Added flex property to allow the image to grow */
  display: flex;
  justify-content: center;
}

.section-image img {
  width: 100%; /* Added width to make the image fill the available space */
  max-height: 400px; /* Adjust the height as needed */
}

.section-text {
  flex: 1; /* Added flex property to allow the text section to grow */
  margin-left: 20px; /* Added margin for spacing */
}

.section-text h1 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}

.section-text h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #8594AB;
  margin-top: 20px;
}

.section-text h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
  margin-top: 80px;
}

.section-text h3:last-child {
  margin-bottom: 0;
}
